In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier # 트리 알고리즘
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
raw_df = pd.read_csv('titanic_train.csv')

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
raw_df.Cabin.fillna('N',inplace=True)

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#데이터정리 불필요한 컬럼 삭제

In [10]:
feature = ['PassengerId','Name']
cl_df = raw_df.drop(feature,axis=1)

In [11]:
cl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     891 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [12]:
encoder = LabelEncoder()
encoder.fit(cl_df.Sex)
labels = encoder.transform(cl_df.Sex)
#print('인코딩 변환값:',labels)

In [25]:
cabin_encoder = LabelEncoder()
cabin_encoder.fit(cl_df.Cabin)
cabin_class = cabin_encoder.transform(cl_df.Cabin)
cl_df['cabin_class'] = cabin_class
embarked_encoder = LabelEncoder()
embarked_encoder.fit(cl_df.Embarked)
embarked_class = embarked_encoder.transform(cl_df.Embarked)
cl_df['embarked_class'] = embarked_class
#print('인코딩 변환값:',labels)

ValueError: y contains previously unseen labels: 'S'

In [28]:
embarked_encoder = LabelEncoder()
embarked_encoder.fit(cl_df.Embarked)
embarked_class = embarked_encoder.transform(cl_df.Embarked)
cl_df['embarked_class'] = embarked_class
#print('인코딩 변환값:',labels)

In [14]:
cl_df['gender']=labels

In [29]:
cl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        891 non-null    int64
 1   Pclass          891 non-null    int64
 2   Sex             891 non-null    object
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Ticket          891 non-null    object
 7   Fare            891 non-null    float64
 8   Cabin           891 non-null    object
 9   Embarked        891 non-null    object
 10  gender          891 non-null    int32
 11  cabin_class     891 non-null    int32
 12  embarked_class  891 non-null    int32
dtypes: float64(2), int32(3), int64(4), object(4)
memory usage: 80.2+ KB

In [17]:
cl_df.Embarked.fillna('N',inplace=True)

In [19]:
cl_df.Age.fillna(cl_df.Age.mean(),inplace=True)

In [30]:
cl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        891 non-null    int64
 1   Pclass          891 non-null    int64
 2   Sex             891 non-null    object
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Ticket          891 non-null    object
 7   Fare            891 non-null    float64
 8   Cabin           891 non-null    object
 9   Embarked        891 non-null    object
 10  gender          891 non-null    int32
 11  cabin_class     891 non-null    int32
 12  embarked_class  891 non-null    int32
dtypes: float64(2), int32(3), int64(4), object(4)
memory usage: 80.2+ KB

In [31]:
feature_cols = ['Pclass','SibSp','Parch','Age','Fare','cabin_class','embarked_class']
y_col = ['Survived']
X = cl_df[feature_cols]
y = cl_df[y_col]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2)

In [33]:
tree_model = DecisionTreeClassifier()
svc_model = SVC()
kn_model = KNeighborsClassifier()
log_model = LogisticRegression()
meta_model = RandomForestClassifier()

In [34]:
tree_model.fit(X_train,y_train)
svc_model.fit(X_train,y_train)
kn_model.fit(X_train,y_train)
log_model.fit(X_train,y_train)

C:\anaconda3\envs\keras\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
<ipython-input-34-85d25c73aab2>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  kn_model.fit(X_train,y_train)
C:\anaconda3\envs\keras\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\anaconda3\envs\keras\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
tr = tree_model.predict(X_train)
sv = svc_model.predict(X_train)
kn = kn_model.predict(X_train)
lo = log_model.predict(X_train)

In [41]:
X1 = pd.DataFrame()
X1['tr'] = tr
X1['sv'] = sv
X1['kn'] = kn
X1['lo'] = lo

In [43]:
meta_model.fit(X1,y_train)

<ipython-input-43-c1283ea98c30>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  meta_model.fit(X1,y_train)

RandomForestClassifier()

In [44]:
tr = tree_model.predict(X_test)
sv = svc_model.predict(X_test)
kn = kn_model.predict(X_test)
lo = log_model.predict(X_test)

In [45]:
X1 = pd.DataFrame()
X1['tr'] = tr
X1['sv'] = sv
X1['kn'] = kn
X1['lo'] = lo

In [46]:
stack_result = meta_model.predict(X1)

In [47]:
accuracy_score(stack_result,y_test)

0.7094972067039106

In [ ]:
log_model.fit(X_train,y_train)
log_result = log_model.predict(X_test)
rf_model.fit(X_train,y_train)
rf_result = rf_model.predict(X_test)
kn_model.fit(X_train,y_train)
kn_result = kn_model.predict(X_test)

# row 삭제 
- 삭제후 인덱스 처리방안

In [1]:
from sklearn.tree import DecisionTreeClassifier

In [5]:
params = {'ccp_alpha':0.1, 'max_depth':5,'max_leaf_nodes':10}

In [6]:
params

{'ccp_alpha': 0.1, 'max_depth': 5, 'max_leaf_nodes': 10}

In [7]:
model = DecisionTreeClassifier(**params)

In [3]:
model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': None,
 'splitter': 'best'}

In [54]:
cl_df = cl_df[~cl_df.Embarked.isna()]
cl_df.reset_index(inplace=True) # 인덱스를 새로 생성

In [55]:
cl_df.Age.fillna(round(cl_df.Age.mean(),0),inplace=True)

In [56]:
cl_df['gender'] = np.where(cl_df.Sex=='male',0,1)

In [57]:
cl_df['Embark_class'] = np.where(cl_df.Embarked == 'S',0,
                               np.where(cl_df.Embarked=='C',1,2))

In [52]:
cl_df

,index,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,gender,Emark_class
0,0,0,3,male,22.0,1,0,A/5 21171,7.2500,S,0,0
1,1,1,1,female,38.0,1,0,PC 17599,71.2833,C,1,1
2,2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,0
3,3,1,1,female,35.0,1,0,113803,53.1000,S,1,0
4,4,0,3,male,35.0,0,0,373450,8.0500,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
884,886,0,2,male,27.0,0,0,211536,13.0000,S,0,0
885,887,1,1,female,19.0,0,0,112053,30.0000,S,1,0
886,888,0,3,female,30.0,1,2,W./C. 6607,23.4500,S,1,0
887,889,1,1,male,26.0,0,0,111369,30.0000,C,0,1
888,890,0,3,male,32.0,0,0,370376,7.7500,Q,0,2

In [60]:
feature_cols = ['Pclass','SibSp','Parch','Age',
                'Embark_class','gender','Survived']
tidy_df = cl_df[feature_cols]

In [62]:
tidy_df = tidy_df.astype('int32')

In [64]:
X = tidy_df.iloc[:,:-1]
y = tidy_df.iloc[:,-1]

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2)

In [129]:
tree_model = DecisionTreeClassifier()
svc_model = SVC()
rf_model = RandomForestClassifier()
kn_model = KNeighborsClassifier()
log_model = LogisticRegression()

In [106]:
log_model.fit(X_train,y_train)
result = log_model.predict(X_test)
#sum(np.array(y_test) == result)/result.size
accuracy_score(np.array(y_test),result)

0.8033707865168539

# 여러 모델의 Hard voting

In [86]:
log_model.fit(X_train,y_train)
log_result = log_model.predict(X_test)
rf_model.fit(X_train,y_train)
rf_result = rf_model.predict(X_test)
kn_model.fit(X_train,y_train)
kn_result = kn_model.predict(X_test)

In [88]:
hvoting_result = log_result+rf_result+kn_result

In [90]:
hvoting_result = np.where(hvoting_result==0,0,
         np.where(hvoting_result==1,0,1))

In [91]:
sum(np.array(y_test) == hvoting_result)/hvoting_result.size

0.7921348314606742

In [94]:
log_model.fit(X_train,y_train)
log_result = log_model.predict_proba(X_test)
rf_model.fit(X_train,y_train)
rf_result = rf_model.predict_proba(X_test)
kn_model.fit(X_train,y_train)
kn_result = kn_model.predict_proba(X_test)

In [100]:
svoting_result = 
(log_result+rf_result+kn_result)[:,0]-
(log_result+rf_result+kn_result)[:,1]

In [101]:
svoting_result = np.where(svoting_result > 0,0,1 )

In [102]:
sum(np.array(y_test) == svoting_result)/svoting_result.size

0.7921348314606742

In [130]:
svc_model.get_params()

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}